[submodule "src/xarm_ros2"]
	path = src/xarm_ros2
	url = https://github.com/xArm-Developer/xarm_ros2.git
[submodule "src/pymoveit2"]
	path = src/pymoveit2
	url = https://github.com/peterdavidfagan/pymoveit2.git
